canvas {
    width: 100%;
}

input[type='number'][name='qtd'], input[type='number'][name='delay'], input[type='number'][name='rep'] {
    max-width: 5em;
}

select[name="graphic"] {
    max-width: 7em;
}

select[name="algorithm"] {
    max-width: 13em;
}

@media (max-width: 480px) {
    canvas {
        height: 30vh;
    }
}